- mean() -> valor médio de cada grupo
- max() -> valor máximo de cada grupo
- min() -> valor mínimo de cada grupo
- sum() -> soma de todos os valores do grupo
- avg() -> valor médio de cada grupo

In [0]:
df = spark.read.format("csv")\
    .option("mode", "failfast")\
    .option("header", "True")\
    .option("inferSchema", "True")\
    .load("/FileStore/tables/spk/2010_1_1.CSV")

In [0]:
df.show(10)

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|   17850.0|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|2010-12-01 08:26:00|     2.75|   17850.0|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|2010-12-01 08:26:00|     7.65|   17850.0|United Kingdom|
|   536365|    21730|GLASS STAR FROSTE...|       6|2010-12-01 08:26:00|     4.25|   17850.0|United Kingdom|
|   536366|    22633|HAND WARMER UNION...|       6|2010-12-01 08:28:00|     1.85|   17850.0|United Kingdom|
|   536366|    22632|HAND WARMER RED P...|       6|2010-12-01 08:28:00|     1.85|   17850.0|United Kingdom|
|   536367|    84879|ASSORTED COLOUR B...|      32|2010-12-01 08:34:00|     1.69|   13047.0|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 10 rows

In [0]:
df.groupBy("Country").sum("UnitPrice").show()

+--------------+------------------+
|       Country|    sum(UnitPrice)|
+--------------+------------------+
|       Germany| 93.82000000000002|
|        France|             55.29|
|          EIRE|133.64000000000001|
|        Norway|            102.67|
|     Australia|              73.9|
|United Kingdom|12428.080000000024|
|   Netherlands|             16.85|
+--------------+------------------+

In [0]:
df.groupBy("Country").count().show()

+--------------+-----+
|       Country|count|
+--------------+-----+
|       Germany|   29|
|        France|   20|
|          EIRE|   21|
|        Norway|   73|
|     Australia|   14|
|United Kingdom| 2949|
|   Netherlands|    2|
+--------------+-----+

In [0]:
df.groupBy("Country").min("UnitPrice").show()

+--------------+--------------+
|       Country|min(UnitPrice)|
+--------------+--------------+
|       Germany|          0.42|
|        France|          0.42|
|          EIRE|          0.65|
|        Norway|          0.29|
|     Australia|          0.85|
|United Kingdom|           0.0|
|   Netherlands|          1.85|
+--------------+--------------+

In [0]:
df.groupBy("Country").max("UnitPrice").show()

+--------------+--------------+
|       Country|max(UnitPrice)|
+--------------+--------------+
|       Germany|          18.0|
|        France|          18.0|
|          EIRE|          50.0|
|        Norway|          7.95|
|     Australia|           8.5|
|United Kingdom|        607.49|
|   Netherlands|          15.0|
+--------------+--------------+

In [0]:
df.groupBy("Country").avg("UnitPrice").show()

+--------------+------------------+
|       Country|    avg(UnitPrice)|
+--------------+------------------+
|       Germany| 3.235172413793104|
|        France|            2.7645|
|          EIRE|6.3638095238095245|
|        Norway|1.4064383561643836|
|     Australia| 5.278571428571429|
|United Kingdom|4.2143370634113335|
|   Netherlands|             8.425|
+--------------+------------------+

In [0]:
df.groupBy("Country").mean("UnitPrice").show()

+--------------+------------------+
|       Country|    avg(UnitPrice)|
+--------------+------------------+
|       Germany| 3.235172413793104|
|        France|            2.7645|
|          EIRE|6.3638095238095245|
|        Norway|1.4064383561643836|
|     Australia| 5.278571428571429|
|United Kingdom|4.2143370634113335|
|   Netherlands|             8.425|
+--------------+------------------+

In [0]:
df.groupBy("Country","CustomerID").sum("UnitPrice").show()

+--------------+----------+------------------+
|       Country|CustomerID|    sum(UnitPrice)|
+--------------+----------+------------------+
|United Kingdom|   17420.0| 38.99999999999999|
|United Kingdom|   15922.0|              48.5|
|United Kingdom|   16250.0|             47.27|
|United Kingdom|   13065.0| 73.11000000000001|
|United Kingdom|   18074.0|62.150000000000006|
|United Kingdom|   16048.0|12.969999999999999|
|       Germany|   12472.0|             49.45|
|United Kingdom|   18085.0|              34.6|
|United Kingdom|   17905.0|109.90000000000003|
|United Kingdom|   17841.0|254.63999999999982|
|United Kingdom|   15291.0|               6.0|
|United Kingdom|   17951.0|22.000000000000004|
|United Kingdom|   13255.0|27.299999999999997|
|United Kingdom|   17690.0|              34.8|
|United Kingdom|   18229.0|             48.65|
|United Kingdom|   15605.0| 58.20000000000002|
|United Kingdom|   18011.0| 66.10999999999999|
|United Kingdom|   17809.0|              1.45|
|United Kingdom|   14307.0|115.35000000000004|
|United Kingdom|   13705.0|183.98999999999998|
+--------------+----------+------------------+
only showing top 20 rows

- funções mais usadas
- current_day()
- date_format(dateExpr,format)
- to_date()
- to_date(column, fmt)
- add_months(col, numMonths)
- date_add(col, days)
- date_sub(col, days)
- datediff(end, start)
- current_timestamp()
- hour(col)

In [0]:
from pyspark.sql.functions import *

df.select(current_date().alias("current_date")).show()

+------------+
|current_date|
+------------+
|  2024-02-25|
|  2024-02-25|
|  2024-02-25|
|  2024-02-25|
|  2024-02-25|
|  2024-02-25|
|  2024-02-25|
|  2024-02-25|
|  2024-02-25|
|  2024-02-25|
|  2024-02-25|
|  2024-02-25|
|  2024-02-25|
|  2024-02-25|
|  2024-02-25|
|  2024-02-25|
|  2024-02-25|
|  2024-02-25|
|  2024-02-25|
|  2024-02-25|
+------------+
only showing top 20 rows

In [0]:
df.select(col("InvoiceDate"), \
    date_format(col("InvoiceDate"),"dd-MM-yyyy hh:mm:ss")\
    .alias("date_format")).show()

+-------------------+-------------------+
|        InvoiceDate|        date_format|
+-------------------+-------------------+
|2010-12-01 08:26:00|01-12-2010 08:26:00|
|2010-12-01 08:26:00|01-12-2010 08:26:00|
|2010-12-01 08:26:00|01-12-2010 08:26:00|
|2010-12-01 08:26:00|01-12-2010 08:26:00|
|2010-12-01 08:26:00|01-12-2010 08:26:00|
|2010-12-01 08:26:00|01-12-2010 08:26:00|
|2010-12-01 08:26:00|01-12-2010 08:26:00|
|2010-12-01 08:28:00|01-12-2010 08:28:00|
|2010-12-01 08:28:00|01-12-2010 08:28:00|
|2010-12-01 08:34:00|01-12-2010 08:34:00|
|2010-12-01 08:34:00|01-12-2010 08:34:00|
|2010-12-01 08:34:00|01-12-2010 08:34:00|
|2010-12-01 08:34:00|01-12-2010 08:34:00|
|2010-12-01 08:34:00|01-12-2010 08:34:00|
|2010-12-01 08:34:00|01-12-2010 08:34:00|
|2010-12-01 08:34:00|01-12-2010 08:34:00|
|2010-12-01 08:34:00|01-12-2010 08:34:00|
|2010-12-01 08:34:00|01-12-2010 08:34:00|
|2010-12-01 08:34:00|01-12-2010 08:34:00|
|2010-12-01 08:34:00|01-12-2010 08:34:00|
+-------------------+-------------------+
only showing top 20 rows

In [0]:
df.select(col("InvoiceDate"),\
          datediff(current_date(), col("InvoiceDate")).alias("datediff")).show()

+-------------------+--------+
|        InvoiceDate|datediff|
+-------------------+--------+
|2010-12-01 08:26:00|    4834|
|2010-12-01 08:26:00|    4834|
|2010-12-01 08:26:00|    4834|
|2010-12-01 08:26:00|    4834|
|2010-12-01 08:26:00|    4834|
|2010-12-01 08:26:00|    4834|
|2010-12-01 08:26:00|    4834|
|2010-12-01 08:28:00|    4834|
|2010-12-01 08:28:00|    4834|
|2010-12-01 08:34:00|    4834|
|2010-12-01 08:34:00|    4834|
|2010-12-01 08:34:00|    4834|
|2010-12-01 08:34:00|    4834|
|2010-12-01 08:34:00|    4834|
|2010-12-01 08:34:00|    4834|
|2010-12-01 08:34:00|    4834|
|2010-12-01 08:34:00|    4834|
|2010-12-01 08:34:00|    4834|
|2010-12-01 08:34:00|    4834|
|2010-12-01 08:34:00|    4834|
+-------------------+--------+
only showing top 20 rows

In [0]:
df.select(col("InvoiceDate"),
          months_between(current_date(),col("InvoiceDate")).alias("datediff")).show()

+-------------------+------------+
|        InvoiceDate|    datediff|
+-------------------+------------+
|2010-12-01 08:26:00|158.76285842|
|2010-12-01 08:26:00|158.76285842|
|2010-12-01 08:26:00|158.76285842|
|2010-12-01 08:26:00|158.76285842|
|2010-12-01 08:26:00|158.76285842|
|2010-12-01 08:26:00|158.76285842|
|2010-12-01 08:26:00|158.76285842|
|2010-12-01 08:28:00|158.76281362|
|2010-12-01 08:28:00|158.76281362|
|2010-12-01 08:34:00|158.76267921|
|2010-12-01 08:34:00|158.76267921|
|2010-12-01 08:34:00|158.76267921|
|2010-12-01 08:34:00|158.76267921|
|2010-12-01 08:34:00|158.76267921|
|2010-12-01 08:34:00|158.76267921|
|2010-12-01 08:34:00|158.76267921|
|2010-12-01 08:34:00|158.76267921|
|2010-12-01 08:34:00|158.76267921|
|2010-12-01 08:34:00|158.76267921|
|2010-12-01 08:34:00|158.76267921|
+-------------------+------------+
only showing top 20 rows

In [0]:
df.select(col("InvoiceDate"),
    add_months(col("InvoiceDate"), 3).alias("add_months"),
    add_months(col("InvoiceDate"),-3).alias("sub_months"),
    date_add(col("InvoiceDate"), 4).alias("date_add"),
    date_sub(col("InvoiceDate"), 4).alias("date_sub")
).show()

+-------------------+----------+----------+----------+----------+
|        InvoiceDate|add_months|sub_months|  date_add|  date_sub|
+-------------------+----------+----------+----------+----------+
|2010-12-01 08:26:00|2011-03-01|2010-09-01|2010-12-05|2010-11-27|
|2010-12-01 08:26:00|2011-03-01|2010-09-01|2010-12-05|2010-11-27|
|2010-12-01 08:26:00|2011-03-01|2010-09-01|2010-12-05|2010-11-27|
|2010-12-01 08:26:00|2011-03-01|2010-09-01|2010-12-05|2010-11-27|
|2010-12-01 08:26:00|2011-03-01|2010-09-01|2010-12-05|2010-11-27|
|2010-12-01 08:26:00|2011-03-01|2010-09-01|2010-12-05|2010-11-27|
|2010-12-01 08:26:00|2011-03-01|2010-09-01|2010-12-05|2010-11-27|
|2010-12-01 08:28:00|2011-03-01|2010-09-01|2010-12-05|2010-11-27|
|2010-12-01 08:28:00|2011-03-01|2010-09-01|2010-12-05|2010-11-27|
|2010-12-01 08:34:00|2011-03-01|2010-09-01|2010-12-05|2010-11-27|
|2010-12-01 08:34:00|2011-03-01|2010-09-01|2010-12-05|2010-11-27|
|2010-12-01 08:34:00|2011-03-01|2010-09-01|2010-12-05|2010-11-27|
|2010-12-01 08:34:00|2011-03-01|2010-09-01|2010-12-05|2010-11-27|
|2010-12-01 08:34:00|2011-03-01|2010-09-01|2010-12-05|2010-11-27|
|2010-12-01 08:34:00|2011-03-01|2010-09-01|2010-12-05|2010-11-27|
|2010-12-01 08:34:00|2011-03-01|2010-09-01|2010-12-05|2010-11-27|
|2010-12-01 08:34:00|2011-03-01|2010-09-01|2010-12-05|2010-11-27|
|2010-12-01 08:34:00|2011-03-01|2010-09-01|2010-12-05|2010-11-27|
|2010-12-01 08:34:00|2011-03-01|2010-09-01|2010-12-05|2010-11-27|
|2010-12-01 08:34:00|2011-03-01|2010-09-01|2010-12-05|2010-11-27|
+-------------------+----------+----------+----------+----------+
only showing top 20 rows

In [0]:
df.select(col("InvoiceDate"),
    year(col("InvoiceDate")).alias("year"),
    month(col("InvoiceDate")).alias("month"),
    next_day(col("InvoiceDate"), "Sunday").alias("next_day"),
    weekofyear(col("InvoiceDate")).alias("weekofyear")).show()

+-------------------+----+-----+----------+----------+
|        InvoiceDate|year|month|  next_day|weekofyear|
+-------------------+----+-----+----------+----------+
|2010-12-01 08:26:00|2010|   12|2010-12-05|        48|
|2010-12-01 08:26:00|2010|   12|2010-12-05|        48|
|2010-12-01 08:26:00|2010|   12|2010-12-05|        48|
|2010-12-01 08:26:00|2010|   12|2010-12-05|        48|
|2010-12-01 08:26:00|2010|   12|2010-12-05|        48|
|2010-12-01 08:26:00|2010|   12|2010-12-05|        48|
|2010-12-01 08:26:00|2010|   12|2010-12-05|        48|
|2010-12-01 08:28:00|2010|   12|2010-12-05|        48|
|2010-12-01 08:28:00|2010|   12|2010-12-05|        48|
|2010-12-01 08:34:00|2010|   12|2010-12-05|        48|
|2010-12-01 08:34:00|2010|   12|2010-12-05|        48|
|2010-12-01 08:34:00|2010|   12|2010-12-05|        48|
|2010-12-01 08:34:00|2010|   12|2010-12-05|        48|
|2010-12-01 08:34:00|2010|   12|2010-12-05|        48|
|2010-12-01 08:34:00|2010|   12|2010-12-05|        48|
|2010-12-01 08:34:00|2010|   12|2010-12-05|        48|
|2010-12-01 08:34:00|2010|   12|2010-12-05|        48|
|2010-12-01 08:34:00|2010|   12|2010-12-05|        48|
|2010-12-01 08:34:00|2010|   12|2010-12-05|        48|
|2010-12-01 08:34:00|2010|   12|2010-12-05|        48|
+-------------------+----+-----+----------+----------+
only showing top 20 rows

In [0]:
df.select(col("InvoiceDate"),
    dayofweek(col("InvoiceDate")).alias("dayofweek"),
    dayofmonth(col("InvoiceDate")).alias("dayofmonth"),
    dayofyear(col("InvoiceDate")).alias("dayofyear")).show()

+-------------------+---------+----------+---------+
|        InvoiceDate|dayofweek|dayofmonth|dayofyear|
+-------------------+---------+----------+---------+
|2010-12-01 08:26:00|        4|         1|      335|
|2010-12-01 08:26:00|        4|         1|      335|
|2010-12-01 08:26:00|        4|         1|      335|
|2010-12-01 08:26:00|        4|         1|      335|
|2010-12-01 08:26:00|        4|         1|      335|
|2010-12-01 08:26:00|        4|         1|      335|
|2010-12-01 08:26:00|        4|         1|      335|
|2010-12-01 08:28:00|        4|         1|      335|
|2010-12-01 08:28:00|        4|         1|      335|
|2010-12-01 08:34:00|        4|         1|      335|
|2010-12-01 08:34:00|        4|         1|      335|
|2010-12-01 08:34:00|        4|         1|      335|
|2010-12-01 08:34:00|        4|         1|      335|
|2010-12-01 08:34:00|        4|         1|      335|
|2010-12-01 08:34:00|        4|         1|      335|
|2010-12-01 08:34:00|        4|         1|      335|
|2010-12-01 08:34:00|        4|         1|      335|
|2010-12-01 08:34:00|        4|         1|      335|
|2010-12-01 08:34:00|        4|         1|      335|
|2010-12-01 08:34:00|        4|         1|      335|
+-------------------+---------+----------+---------+
only showing top 20 rows

In [0]:
df.select(current_timestamp().alias("current_timestamp")).show(1,truncate=False)

+-----------------------+
|current_timestamp      |
+-----------------------+
|2024-02-25 01:34:30.086|
+-----------------------+
only showing top 1 row

In [0]:
df.select(col("InvoiceDate"),
    hour(col("InvoiceDate")).alias("hour"),
    minute(col("InvoiceDate")).alias("minute"),
    second(col("InvoiceDate")).alias("second")).show()

+-------------------+----+------+------+
|        InvoiceDate|hour|minute|second|
+-------------------+----+------+------+
|2010-12-01 08:26:00|   8|    26|     0|
|2010-12-01 08:26:00|   8|    26|     0|
|2010-12-01 08:26:00|   8|    26|     0|
|2010-12-01 08:26:00|   8|    26|     0|
|2010-12-01 08:26:00|   8|    26|     0|
|2010-12-01 08:26:00|   8|    26|     0|
|2010-12-01 08:26:00|   8|    26|     0|
|2010-12-01 08:28:00|   8|    28|     0|
|2010-12-01 08:28:00|   8|    28|     0|
|2010-12-01 08:34:00|   8|    34|     0|
|2010-12-01 08:34:00|   8|    34|     0|
|2010-12-01 08:34:00|   8|    34|     0|
|2010-12-01 08:34:00|   8|    34|     0|
|2010-12-01 08:34:00|   8|    34|     0|
|2010-12-01 08:34:00|   8|    34|     0|
|2010-12-01 08:34:00|   8|    34|     0|
|2010-12-01 08:34:00|   8|    34|     0|
|2010-12-01 08:34:00|   8|    34|     0|
|2010-12-01 08:34:00|   8|    34|     0|
|2010-12-01 08:34:00|   8|    34|     0|
+-------------------+----+------+------+
only showing top 20 rows

#Manipulando Missing Values

In [0]:
display(dbutils.fs.ls("/databricks-datasets"))

path,name,size,modificationTime
dbfs:/databricks-datasets/COVID/,COVID/,0,0
dbfs:/databricks-datasets/README.md,README.md,976,1532468253000
dbfs:/databricks-datasets/Rdatasets/,Rdatasets/,0,0
dbfs:/databricks-datasets/SPARK_README.md,SPARK_README.md,3359,1455043490000
dbfs:/databricks-datasets/adult/,adult/,0,0
dbfs:/databricks-datasets/airlines/,airlines/,0,0
dbfs:/databricks-datasets/amazon/,amazon/,0,0
dbfs:/databricks-datasets/asa/,asa/,0,0
dbfs:/databricks-datasets/atlas_higgs/,atlas_higgs/,0,0
dbfs:/databricks-datasets/bikeSharing/,bikeSharing/,0,0
dbfs:/databricks-datasets/cctvVideos/,cctvVideos/,0,0
dbfs:/databricks-datasets/credit-card-fraud/,credit-card-fraud/,0,0
dbfs:/databricks-datasets/cs100/,cs100/,0,0
dbfs:/databricks-datasets/cs110x/,cs110x/,0,0
dbfs:/databricks-datasets/cs190/,cs190/,0,0
dbfs:/databricks-datasets/data.gov/,data.gov/,0,0
dbfs:/databricks-datasets/definitive-guide/,definitive-guide/,0,0
dbfs:/databricks-datasets/delta-sharing/,delta-sharing/,0,0
dbfs:/databricks-datasets/flights/,flights/,0,0
dbfs:/databricks-datasets/flower_photos/,flower_photos/,0,0
dbfs:/databricks-datasets/flowers/,flowers/,0,0
dbfs:/databricks-datasets/genomics/,genomics/,0,0
dbfs:/databricks-datasets/hail/,hail/,0,0
dbfs:/databricks-datasets/identifying-campaign-effectiveness/,identifying-campaign-effectiveness/,0,0
dbfs:/databricks-datasets/iot/,iot/,0,0
dbfs:/databricks-datasets/iot-stream/,iot-stream/,0,0
dbfs:/databricks-datasets/learning-spark/,learning-spark/,0,0
dbfs:/databricks-datasets/learning-spark-v2/,learning-spark-v2/,0,0
dbfs:/databricks-datasets/lending-club-loan-stats/,lending-club-loan-stats/,0,0
dbfs:/databricks-datasets/med-images/,med-images/,0,0
dbfs:/databricks-datasets/media/,media/,0,0
dbfs:/databricks-datasets/mnist-digits/,mnist-digits/,0,0
dbfs:/databricks-datasets/news20.binary/,news20.binary/,0,0
dbfs:/databricks-datasets/nyctaxi/,nyctaxi/,0,0
dbfs:/databricks-datasets/nyctaxi-with-zipcodes/,nyctaxi-with-zipcodes/,0,0
dbfs:/databricks-datasets/online_retail/,online_retail/,0,0
dbfs:/databricks-datasets/overlap-join/,overlap-join/,0,0
dbfs:/databricks-datasets/power-plant/,power-plant/,0,0
dbfs:/databricks-datasets/retail-org/,retail-org/,0,0
dbfs:/databricks-datasets/rwe/,rwe/,0,0
dbfs:/databricks-datasets/sai-summit-2019-sf/,sai-summit-2019-sf/,0,0
dbfs:/databricks-datasets/sample_logs/,sample_logs/,0,0
dbfs:/databricks-datasets/samples/,samples/,0,0
dbfs:/databricks-datasets/sfo_customer_survey/,sfo_customer_survey/,0,0
dbfs:/databricks-datasets/sms_spam_collection/,sms_spam_collection/,0,0
dbfs:/databricks-datasets/songs/,songs/,0,0
dbfs:/databricks-datasets/structured-streaming/,structured-streaming/,0,0
dbfs:/databricks-datasets/timeseries/,timeseries/,0,0
dbfs:/databricks-datasets/tpch/,tpch/,0,0
dbfs:/databricks-datasets/travel_recommendations_realtime/,travel_recommendations_realtime/,0,0
dbfs:/databricks-datasets/warmup/,warmup/,0,0
dbfs:/databricks-datasets/weather/,weather/,0,0
dbfs:/databricks-datasets/wiki/,wiki/,0,0
dbfs:/databricks-datasets/wikipedia-datasets/,wikipedia-datasets/,0,0
dbfs:/databricks-datasets/wine-quality/,wine-quality/,0,0

In [0]:
arquivo = "dbfs:/databricks-datasets/flights"

df = spark.read.format("csv")\
    .option("inferSchema", "True")\
    .option("header", "True")\
    .csv(arquivo)

In [0]:
df.show()

+--------+-----+--------+------+-----------+
|    date|delay|distance|origin|destination|
+--------+-----+--------+------+-----------+
|01011245|    6|     602|   ABE|        ATL|
|01020600|   -8|     369|   ABE|        DTW|
|01021245|   -2|     602|   ABE|        ATL|
|01020605|   -4|     602|   ABE|        ATL|
|01031245|   -4|     602|   ABE|        ATL|
|01030605|    0|     602|   ABE|        ATL|
|01041243|   10|     602|   ABE|        ATL|
|01040605|   28|     602|   ABE|        ATL|
|01051245|   88|     602|   ABE|        ATL|
|01050605|    9|     602|   ABE|        ATL|
|01061215|   -6|     602|   ABE|        ATL|
|01061725|   69|     602|   ABE|        ATL|
|01061230|    0|     369|   ABE|        DTW|
|01060625|   -3|     602|   ABE|        ATL|
|01070600|    0|     369|   ABE|        DTW|
|01071725|    0|     602|   ABE|        ATL|
|01071230|    0|     369|   ABE|        DTW|
|01070625|    0|     602|   ABE|        ATL|
|01071219|    0|     569|   ABE|        ORD|
|01080600|    0|     369|   ABE|        DTW|
+--------+-----+--------+------+-----------+
only showing top 20 rows

In [0]:
df.filter("delay is NULL").show()

+--------------------+-----+--------+------+-----------+
|                date|delay|distance|origin|destination|
+--------------------+-----+--------+------+-----------+
|Abbotsford\tBC\tC...| NULL|    NULL|  NULL|       NULL|
|Aberdeen\tSD\tUSA...| NULL|    NULL|  NULL|       NULL|
|Abilene\tTX\tUSA\...| NULL|    NULL|  NULL|       NULL|
| Akron\tOH\tUSA\tCAK| NULL|    NULL|  NULL|       NULL|
|Alamosa\tCO\tUSA\...| NULL|    NULL|  NULL|       NULL|
|Albany\tGA\tUSA\tABY| NULL|    NULL|  NULL|       NULL|
|Albany\tNY\tUSA\tALB| NULL|    NULL|  NULL|       NULL|
|Albuquerque\tNM\t...| NULL|    NULL|  NULL|       NULL|
|Alexandria\tLA\tU...| NULL|    NULL|  NULL|       NULL|
|Allentown\tPA\tUS...| NULL|    NULL|  NULL|       NULL|
|Alliance\tNE\tUSA...| NULL|    NULL|  NULL|       NULL|
|Alpena\tMI\tUSA\tAPN| NULL|    NULL|  NULL|       NULL|
|Altoona\tPA\tUSA\...| NULL|    NULL|  NULL|       NULL|
|Amarillo\tTX\tUSA...| NULL|    NULL|  NULL|       NULL|
|Anahim Lake\tBC\t...| NULL|    NULL|  NULL|       NULL|
|Anchorage\tAK\tUS...| NULL|    NULL|  NULL|       NULL|
|Appleton\tWI\tUSA...| NULL|    NULL|  NULL|       NULL|
|Arviat\tNWT\tCana...| NULL|    NULL|  NULL|       NULL|
|Asheville\tNC\tUS...| NULL|    NULL|  NULL|       NULL|
| Aspen\tCO\tUSA\tASE| NULL|    NULL|  NULL|       NULL|
+--------------------+-----+--------+------+-----------+
only showing top 20 rows

In [0]:
df.filter(df.delay.isNull()).show(10)

+--------------------+-----+--------+------+-----------+
|                date|delay|distance|origin|destination|
+--------------------+-----+--------+------+-----------+
|Abbotsford\tBC\tC...| NULL|    NULL|  NULL|       NULL|
|Aberdeen\tSD\tUSA...| NULL|    NULL|  NULL|       NULL|
|Abilene\tTX\tUSA\...| NULL|    NULL|  NULL|       NULL|
| Akron\tOH\tUSA\tCAK| NULL|    NULL|  NULL|       NULL|
|Alamosa\tCO\tUSA\...| NULL|    NULL|  NULL|       NULL|
|Albany\tGA\tUSA\tABY| NULL|    NULL|  NULL|       NULL|
|Albany\tNY\tUSA\tALB| NULL|    NULL|  NULL|       NULL|
|Albuquerque\tNM\t...| NULL|    NULL|  NULL|       NULL|
|Alexandria\tLA\tU...| NULL|    NULL|  NULL|       NULL|
|Allentown\tPA\tUS...| NULL|    NULL|  NULL|       NULL|
+--------------------+-----+--------+------+-----------+
only showing top 10 rows

In [0]:
df.na.fill(value=0).show()

+--------+-----+--------+------+-----------+
|    date|delay|distance|origin|destination|
+--------+-----+--------+------+-----------+
|01011245|    6|     602|   ABE|        ATL|
|01020600|   -8|     369|   ABE|        DTW|
|01021245|   -2|     602|   ABE|        ATL|
|01020605|   -4|     602|   ABE|        ATL|
|01031245|   -4|     602|   ABE|        ATL|
|01030605|    0|     602|   ABE|        ATL|
|01041243|   10|     602|   ABE|        ATL|
|01040605|   28|     602|   ABE|        ATL|
|01051245|   88|     602|   ABE|        ATL|
|01050605|    9|     602|   ABE|        ATL|
|01061215|   -6|     602|   ABE|        ATL|
|01061725|   69|     602|   ABE|        ATL|
|01061230|    0|     369|   ABE|        DTW|
|01060625|   -3|     602|   ABE|        ATL|
|01070600|    0|     369|   ABE|        DTW|
|01071725|    0|     602|   ABE|        ATL|
|01071230|    0|     369|   ABE|        DTW|
|01070625|    0|     602|   ABE|        ATL|
|01071219|    0|     569|   ABE|        ORD|
|01080600|    0|     369|   ABE|        DTW|
+--------+-----+--------+------+-----------+
only showing top 20 rows

In [0]:
df.na.fill(value=0, subset=['delay']).show()

+--------+-----+--------+------+-----------+
|    date|delay|distance|origin|destination|
+--------+-----+--------+------+-----------+
|01011245|    6|     602|   ABE|        ATL|
|01020600|   -8|     369|   ABE|        DTW|
|01021245|   -2|     602|   ABE|        ATL|
|01020605|   -4|     602|   ABE|        ATL|
|01031245|   -4|     602|   ABE|        ATL|
|01030605|    0|     602|   ABE|        ATL|
|01041243|   10|     602|   ABE|        ATL|
|01040605|   28|     602|   ABE|        ATL|
|01051245|   88|     602|   ABE|        ATL|
|01050605|    9|     602|   ABE|        ATL|
|01061215|   -6|     602|   ABE|        ATL|
|01061725|   69|     602|   ABE|        ATL|
|01061230|    0|     369|   ABE|        DTW|
|01060625|   -3|     602|   ABE|        ATL|
|01070600|    0|     369|   ABE|        DTW|
|01071725|    0|     602|   ABE|        ATL|
|01071230|    0|     369|   ABE|        DTW|
|01070625|    0|     602|   ABE|        ATL|
|01071219|    0|     569|   ABE|        ORD|
|01080600|    0|     369|   ABE|        DTW|
+--------+-----+--------+------+-----------+
only showing top 20 rows

In [0]:
df.na.fill("").show()

+--------+-----+--------+------+-----------+
|    date|delay|distance|origin|destination|
+--------+-----+--------+------+-----------+
|01011245|    6|     602|   ABE|        ATL|
|01020600|   -8|     369|   ABE|        DTW|
|01021245|   -2|     602|   ABE|        ATL|
|01020605|   -4|     602|   ABE|        ATL|
|01031245|   -4|     602|   ABE|        ATL|
|01030605|    0|     602|   ABE|        ATL|
|01041243|   10|     602|   ABE|        ATL|
|01040605|   28|     602|   ABE|        ATL|
|01051245|   88|     602|   ABE|        ATL|
|01050605|    9|     602|   ABE|        ATL|
|01061215|   -6|     602|   ABE|        ATL|
|01061725|   69|     602|   ABE|        ATL|
|01061230|    0|     369|   ABE|        DTW|
|01060625|   -3|     602|   ABE|        ATL|
|01070600|    0|     369|   ABE|        DTW|
|01071725|    0|     602|   ABE|        ATL|
|01071230|    0|     369|   ABE|        DTW|
|01070625|    0|     602|   ABE|        ATL|
|01071219|    0|     569|   ABE|        ORD|
|01080600|    0|     369|   ABE|        DTW|
+--------+-----+--------+------+-----------+
only showing top 20 rows

In [0]:
df.na.drop().show()

+--------+-----+--------+------+-----------+
|    date|delay|distance|origin|destination|
+--------+-----+--------+------+-----------+
|01011245|    6|     602|   ABE|        ATL|
|01020600|   -8|     369|   ABE|        DTW|
|01021245|   -2|     602|   ABE|        ATL|
|01020605|   -4|     602|   ABE|        ATL|
|01031245|   -4|     602|   ABE|        ATL|
|01030605|    0|     602|   ABE|        ATL|
|01041243|   10|     602|   ABE|        ATL|
|01040605|   28|     602|   ABE|        ATL|
|01051245|   88|     602|   ABE|        ATL|
|01050605|    9|     602|   ABE|        ATL|
|01061215|   -6|     602|   ABE|        ATL|
|01061725|   69|     602|   ABE|        ATL|
|01061230|    0|     369|   ABE|        DTW|
|01060625|   -3|     602|   ABE|        ATL|
|01070600|    0|     369|   ABE|        DTW|
|01071725|    0|     602|   ABE|        ATL|
|01071230|    0|     369|   ABE|        DTW|
|01070625|    0|     602|   ABE|        ATL|
|01071219|    0|     569|   ABE|        ORD|
|01080600|    0|     369|   ABE|        DTW|
+--------+-----+--------+------+-----------+
only showing top 20 rows

In [0]:
df = df.withColumn('Nova coluna', df['delay']+2)
df.show(10)

+--------+-----+--------+------+-----------+-----------+
|    date|delay|distance|origin|destination|Nova coluna|
+--------+-----+--------+------+-----------+-----------+
|01011245|    6|     602|   ABE|        ATL|        8.0|
|01020600|   -8|     369|   ABE|        DTW|       -6.0|
|01021245|   -2|     602|   ABE|        ATL|        0.0|
|01020605|   -4|     602|   ABE|        ATL|       -2.0|
|01031245|   -4|     602|   ABE|        ATL|       -2.0|
|01030605|    0|     602|   ABE|        ATL|        2.0|
|01041243|   10|     602|   ABE|        ATL|       12.0|
|01040605|   28|     602|   ABE|        ATL|       30.0|
|01051245|   88|     602|   ABE|        ATL|       90.0|
|01050605|    9|     602|   ABE|        ATL|       11.0|
+--------+-----+--------+------+-----------+-----------+
only showing top 10 rows

In [0]:
df = df.drop('Nova coluna').show()

+--------+-----+--------+------+-----------+
|    date|delay|distance|origin|destination|
+--------+-----+--------+------+-----------+
|01011245|    6|     602|   ABE|        ATL|
|01020600|   -8|     369|   ABE|        DTW|
|01021245|   -2|     602|   ABE|        ATL|
|01020605|   -4|     602|   ABE|        ATL|
|01031245|   -4|     602|   ABE|        ATL|
|01030605|    0|     602|   ABE|        ATL|
|01041243|   10|     602|   ABE|        ATL|
|01040605|   28|     602|   ABE|        ATL|
|01051245|   88|     602|   ABE|        ATL|
|01050605|    9|     602|   ABE|        ATL|
|01061215|   -6|     602|   ABE|        ATL|
|01061725|   69|     602|   ABE|        ATL|
|01061230|    0|     369|   ABE|        DTW|
|01060625|   -3|     602|   ABE|        ATL|
|01070600|    0|     369|   ABE|        DTW|
|01071725|    0|     602|   ABE|        ATL|
|01071230|    0|     369|   ABE|        DTW|
|01070625|    0|     602|   ABE|        ATL|
|01071219|    0|     569|   ABE|        ORD|
|01080600|    0|     369|   ABE|        DTW|
+--------+-----+--------+------+-----------+
only showing top 20 rows

In [0]:
df.withColumnRenamed('Nova coluna', 'New column').show()

+--------+-----+--------+------+-----------+----------+
|    date|delay|distance|origin|destination|New column|
+--------+-----+--------+------+-----------+----------+
|01011245|    6|     602|   ABE|        ATL|       8.0|
|01020600|   -8|     369|   ABE|        DTW|      -6.0|
|01021245|   -2|     602|   ABE|        ATL|       0.0|
|01020605|   -4|     602|   ABE|        ATL|      -2.0|
|01031245|   -4|     602|   ABE|        ATL|      -2.0|
|01030605|    0|     602|   ABE|        ATL|       2.0|
|01041243|   10|     602|   ABE|        ATL|      12.0|
|01040605|   28|     602|   ABE|        ATL|      30.0|
|01051245|   88|     602|   ABE|        ATL|      90.0|
|01050605|    9|     602|   ABE|        ATL|      11.0|
|01061215|   -6|     602|   ABE|        ATL|      -4.0|
|01061725|   69|     602|   ABE|        ATL|      71.0|
|01061230|    0|     369|   ABE|        DTW|       2.0|
|01060625|   -3|     602|   ABE|        ATL|      -1.0|
|01070600|    0|     369|   ABE|        DTW|       2.0|
|01071725|    0|     602|   ABE|        ATL|       2.0|
|01071230|    0|     369|   ABE|        DTW|       2.0|
|01070625|    0|     602|   ABE|        ATL|       2.0|
|01071219|    0|     569|   ABE|        ORD|       2.0|
|01080600|    0|     369|   ABE|        DTW|       2.0|
+--------+-----+--------+------+-----------+----------+
only showing top 20 rows

In [0]:
#integração de código entre as APIs
#tem que ter cuidado com a performance dos códigos usando UDFs

from pyspark.sql.types import LongType
def quadrado(s):
    return s * s

In [0]:
spark.udf.register("Func_Py_Quadrado", quadrado, LongType())

In [0]:
spark.range(1, 20).show()

+---+
| id|
+---+
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
| 10|
| 11|
| 12|
| 13|
| 14|
| 15|
| 16|
| 17|
| 18|
| 19|
+---+

In [0]:
spark.range(1, 20).createOrReplaceTempView("view_temp")

In [0]:
%sql
select id, Func_Py_Quadrado(id) as id_ao_quadrado from view_temp

id,id_ao_quadrado
1,1
2,4
3,9
4,16
5,25
6,36
7,49
8,64
9,81
10,100
11,121
12,144
13,169
14,196
15,225
16,256
17,289
18,324
19,361

In [0]:
from pyspark.sql.functions import udf
from pyspark.sql.types import LongType

Func_Py_Quadrado = udf(quadrado, LongType())

In [0]:
df = spark.table("view_temp")
df.show()

+---+
| id|
+---+
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
| 10|
| 11|
| 12|
| 13|
| 14|
| 15|
| 16|
| 17|
| 18|
| 19|
+---+

In [0]:
display(df.select("id", Func_Py_Quadrado("id").alias("id_quadrado")))

id,id_quadrado
1,1
2,4
3,9
4,16
5,25
6,36
7,49
8,64
9,81
10,100
11,121
12,144
13,169
14,196
15,225
16,256
17,289
18,324
19,361

In [0]:
#substituto imediato do pandas
#o koalas foi criado para migrar as aplicações para ambientes big data, que utilizam Spark, Pyspark
#fornece APIs equivalentes ao pandas que funcionam no Apache Spark
import numpy as np
import pandas as pd
import pyspark.pandas as ps # nova forma de utilizar o koalas
# A partir da 3.2 do Spark o Koalas foi integrado internamente ao Spark

In [0]:
pdf = pd.DataFrame({'A': np.random.rand(5),
                    'B': np.random.rand(5)})

In [0]:
type(pdf)

pandas.core.frame.DataFrame

In [0]:
psdf = ps.DataFrame({'A': np.random.rand(5),
                             'B': np.random.rand(5)})

type(psdf)

pyspark.pandas.frame.DataFrame

In [0]:
psdf = ps.DataFrame(pdf)
type(psdf)

pyspark.pandas.frame.DataFrame

In [0]:
psdf = ps.from_pandas(pdf)

In [0]:
psdf.head()

          A         B
0  0.681572  0.212585
1  0.101726  0.975339
2  0.859840  0.963627
3  0.738552  0.058039
4  0.906534  0.078494

In [0]:
psdf.describe()

              A         B
count  5.000000  5.000000
mean   0.657645  0.457617
std    0.323648  0.471041
min    0.101726  0.058039
25%    0.681572  0.078494
50%    0.738552  0.212585
75%    0.859840  0.963627
max    0.906534  0.975339

In [0]:
psdf.sort_values(by='B')

          A         B
3  0.738552  0.058039
4  0.906534  0.078494
0  0.681572  0.212585
2  0.859840  0.963627
1  0.101726  0.975339

In [0]:
from pyspark.pandas.config import set_option, get_option
psdf.get_option('compute.max_rows')
psdf.set_option('compute.max_rows', 2000)

---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
File /databricks/spark/python/pyspark/pandas/frame.py:13569, in DataFrame.__getattr__(self, key)
  13568 try:
> 13569     return self.loc[:, key]
  13570 except KeyError:

File /databricks/spark/python/pyspark/pandas/indexing.py:485, in LocIndexerLike.__getitem__(self, key)
    478 cond, limit, remaining_index = self._select_rows(rows_sel)
    479 (
    480     column_labels,
    481     data_spark_columns,
    482     data_fields,
    483     returns_series,
    484     series_name,
--> 485 ) = self._select_cols(cols_sel)
    487 if cond is None and limit is None and returns_series:

File /databricks/spark/python/pyspark/pandas/indexing.py:332, in LocIndexerLike._select_cols(self, cols_sel, missing_keys)
    331 else:
--> 332     return self._select_cols_else(cols_sel, missing_keys)

File /databricks/spark/python/pyspark/pandas/indexing.py:1393, in LocIndexer._select_cols_else(self, cols_sel, missing_keys)
   1392     cols_sel = (cols_sel,)
-> 1393 return self._get_from_multiindex_column(cols_sel, missing_keys)

File /databricks/spark/python/pyspark/pandas/indexing.py:1211, in LocIndexer._get_from_multiindex_column(self, key, missing_keys, labels, recursed)
   1210 if missing_keys is None:
-> 1211     raise KeyError(k)
   1212 else:

KeyError: 'set_option'

During handling of the above exception, another exception occurred:

AttributeError                            Traceback (most recent call last)
~/.ipykernel/2718/command-1581056067913149-3047450002 in ?()
      1 from pyspark.pandas.config import set_option, get_option
      2 #psdf.get_option('compute.max_rows')
----> 3 psdf.set_option('compute.max_rows', 2000)

/databricks/spark/python/pyspark/instrumentation_utils.py in ?(*args, **kwargs)
     59                     signature,
     60                 )
     61                 raise
     62         finally:
---> 63             _local.logging = False

/databricks/spark/python/pyspark/pandas/frame.py in ?(self, key)
  13567
  13568         try:
  13569             return self.loc[:, key]
  13570         except KeyError:
> 13571             raise AttributeError(
  13572                 "'%s' object has no attribute '%s'" % (self.__class__.__name__, key)
  13573             )

AttributeError: 'DataFrame' object has no attribute 'set_option'

In [0]:
psdf[['A', 'B']]

          A         B
0  0.681572  0.212585
1  0.101726  0.975339
2  0.859840  0.963627
3  0.738552  0.058039
4  0.906534  0.078494

In [0]:
psdf.loc[1:2]

          A         B
1  0.101726  0.975339
2  0.859840  0.963627

In [0]:
psdf.iloc[:3, 1:2]

          B
0  0.212585
1  0.975339
2  0.963627

In [0]:
def quadrado(x):
    return x ** 2

In [0]:
from pyspark.pandas.config import set_option, reset_option
set_option("compute.ops_on_diff_frames", True)

In [0]:
psdf['C'] = psdf.A.apply(quadrado)

In [0]:
psdf.head(10)

          A         B         C
0  0.681572  0.212585  0.464540
1  0.101726  0.975339  0.010348
2  0.859840  0.963627  0.739325
3  0.738552  0.058039  0.545459
4  0.906534  0.078494  0.821803

In [0]:
psdf.groupby('A').sum()

/databricks/spark/python/pyspark/pandas/groupby.py:892: FutureWarning: Default value of `numeric_only` will be changed to `False` instead of `True` in 4.0.0.
  warnings.warn(

                 B         C
A
0.681572  0.212585  0.464540
0.101726  0.975339  0.010348
0.859840  0.963627  0.739325
0.738552  0.058039  0.545459
0.906534  0.078494  0.821803

In [0]:
psdf.groupby(['A', 'B']).sum()

/databricks/spark/python/pyspark/pandas/groupby.py:892: FutureWarning: Default value of `numeric_only` will be changed to `False` instead of `True` in 4.0.0.
  warnings.warn(

                          C
A        B
0.681572 0.212585  0.464540
0.101726 0.975339  0.010348
0.859840 0.963627  0.739325
0.738552 0.058039  0.545459
0.906534 0.078494  0.821803

In [0]:
%matplotlib inline

In [0]:
speed = [0.1, 17.5, 40, 48, 52, 69, 88]
lifespan = [2, 8, 70, 1.5, 25, 12, 28]

index = ['snail', 'pig', 'elephant', 'rabbit', 'giraffe', 'coyote', 'horse']

psdf = ps.DataFrame({'speed': speed,
                     'lifespan': lifespan}, index=index)

psdf.plot.bar()

In [0]:
psdf = ps.DataFrame({'year': [1990, 1997, 2003, 2009, 2014],
                    'pig': [20, 18, 489, 675, 1776],
                    'horse': [4, 25, 281, 608, 1900]})

In [0]:
ps.sql("SELECT * FROM {psdf} WHERE pig > 100", psdf=psdf)

   year   pig  horse
0  2003   489    281
1  2009   675    608
2  2014  1776   1900

In [0]:
pdf = pd.DataFrame({'year': [1990, 1997, 2003, 2009, 2014],
                    'sheep':[22, 50, 121, 445, 791],
                    'chicken': [250, 326, 589, 1241, 2118]})

In [0]:
ps.sql('''
       SELECT ps.pig, pd.chicken
       FROM {psdf} ps INNER JOIN {pdf} pd
       ON ps.year = pd.year
       ORDER BY ps.pig, pd.chicken
       ''', psdf=psdf, pdf=pdf)

    pig  chicken
0    18      326
1    20      250
2   489      589
3   675     1241
4  1776     2118

In [0]:
psdf = ps.DataFrame({'A': [1,2,3,4,5], 'B':[10,20,30,40,50]})
pydf = psdf.to_spark()

In [0]:
type(pydf)

pyspark.sql.dataframe.DataFrame